*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #efd592 !important;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  &:hover {
    cursor: pointer;
  }
}

.st0 {
  fill: #efd592;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.blue {
  height: 90vh;
  width: 50%;
  background-color: #242d38;
  margin: 40px;
}
.text {
  color: #242d38;
  width: 50%;
  overflow-wrap: wrap;
  padding: 30px;
  margin: 0 50px 0 0;
  h1 {
    font-weight: 800;
  }
  .article {
    line-height: 2rem;
    margin: 80px 0;
    font-family: "Cardo", serif !important;
    text-align: justify;
    font-size: 1.2rem;
  }
  span {
    font-weight: 700;
    font-size: 1.2rem;
  }
}

@media (max-width: 880px) {
  .main {
    flex-direction: column;
  }
  .text,
  .blue {
    width: 100%;
    padding: 70px;
  }
  .blue {
    margin: 0;
  }
  .st0 {
    text-shadow: 0 0 3px #efd592;
  }
}
